# Комментарий — строки, начинающиеся с #

# Конкретный файл
cows.db
cows.db-journal

# Все файлы с расширением
*.log

# Вся папка
.vscode/

# Все файлы .env и вариации
.env
.env.local

# Файлы, начинающиеся с temp
temp*

# Но НЕ игнорировать важный файл (восклицательный знак)
!important.log

# Папка в любом месте проекта
**/__pycache__/

# Файл только в корне
/config.json